{% extends 'admin/base.html' %}
{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>Example page header <a href="{{ url_for('.edit_view', module_name=module_name) }}" class="btn btn-default">{{ _('Add') }}</a></h1>

        </div>
    </div>

    <table class="table table-condensed">
        <thead>
        <tr>
            {% for field in fields %}
                <th>{{ field.label }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
            {% for field in fields %}
                {% if loop.first %}
                    <td><a href="{{ url_for('.edit_view', module_name=module_name, object_id=object.id) }}">{{ getattr(object, field.name) }}</a></td>
                {% else %}
                    <td>{{ getattr(object, field.name) }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}